<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<style>
  .layout{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }
</style>

<div class="layout">
  <table>
    <thead>
    <tr>
      <th>글번호</th>
      <th>제목</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each=""suggestions : ${suggestionslist}>
      <td th:text=""${suggsetions.s_num}>1</td>
      <td th:text="${suggestions.s_title}">제목입니다.</td>
    </tr>
    </tbody>

  </table>
</div>

</body>
</html>